[submodule "theme/maverick"]
	path = theme/maverick
	url = https://github.com/canhtran/maverick.git
[submodule "themes/maverick"]
	path = themes/maverick
	url = https://github.com/canhtran/maverick.git
